* {
    margin:0;
    padding:0;
}
.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 1%;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 0 0 1% 0;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 0 1% 0 0;

}
.main {
    height: 400px;
    width: 100%; /* was 700px. set this to width: 100% so that it fills the remainder gap on the right side to match that of the green top-nav*/
    background-color: red;
    padding: 1%;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 0% 2% 2% 0% ;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 0% 1% 1% 0% ;
}
.row {
    /* TODO - what should go here? */
    display: flex;
}

