* {
    margin: 0px;
    padding: 0px;
}

.row {
    display: flex;
    margin: 1% auto;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}


/*select body's first child only and then select all columns in it*/
/*aka select all childs in row 1*/
body :first-child .col {
    background: rgb(0, 255, 55);
    text-align: center;
    padding: 5px;
}


/*select all childs in row 2*/
body .row:nth-child(2) * {
    background: rgb(255, 0, 98);
    padding: 5px;
    text-align: center;
}



/*select all childs in row 3*/
body .row:nth-child(3) * {
    background: rgb(0, 238, 255);
    padding: 5px;
    text-align: center;
}

/*set all col as having 1 column*/
.col {
    flex: 1;
}

/*set all col-2 as having 2 columns*/
.col-2 {
    flex: 2;
}

/*set all col-3 as having 3 columns*/
.col-3 {
    flex: 3;
}